extends ../../views/layout
block content 
    .page-header
        h1 Login
        small &nbsp;Accede a tu cuenta
    .col-md-6
        form.form-horizontal(method="post", role="form")
            .form-group
                label.col-md-2 Usuario
                .col-md-8
                    input.form-control(type="text", name="email", id="email")
            .form-group
                label.col-md-2 Contraseña
                .col-md-8
                    input.form-control(type="password", name="password", id="password")
            button.btn.btn-primary.btn-lg(type="submit") Iniciar sesión
            p.help-block
                a(href="/recover") ¿Olvidaste tu password?
                |&nbsp;
                a(href="/signup") Crear una cuenta
            .div!=recaptcha_form
